<a href="https://colab.research.google.com/github/jose-luis15/BORRAR/blob/master/EJERCICIO_NICOLAS_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as np
import pandas as pd

print(f"---BIENVENIDO A LA CLINICA PERUANO JAPONES---\n -----------------------------------------")
print("\n Datos del Paciente")

data = list()
result = ["Nombres y Apellidos", "DNI","edad","categoria segun edad","lugar de nacimiento","domicilio","celular","tipo de sandre","observación"]

data.append(input("Ingresar Nombre(s) y Apellidos: "))
data.append(input("Ingresar DNI: "))
edad = int(input("Ingresar Edad: "))
data.append(edad)

if edad >= 18:
    data.append("Es mayor de edad")
else:
    data.append("No es mayor de edad")

data.append(input("lugar donde nacio "))
data.append(input("Ingresar Domicilio: "))
data.append(int(input("Ingresar Celular: ")))
sangre = input("ingrese tipo de sangre ")
data.append(sangre)

if (sangre == "a"):
    data.append("su sangre es del tipo comun")
elif (sangre == "b"):
    data.append("su tipo de sangre no es tan comun")
elif (sangre == "ab"):
    data.append("su tipo de sangre no es tan comun")
elif (sangre == "ba"):
    data.append("su tipo de sangre no es tan comun")
else:
    data.append("No sabe que tipo de sangre tiene")

df = pd.DataFrame(list(zip(result,data)), columns = ['REQUERIMIENTO','RECOPILADO'])

print("\nGracias por llenar datos del paciente ..!!!")

df

---BIENVENIDO A LA CLINICA PERUANO JAPONES---
 -----------------------------------------

 Datos del Paciente
Ingresar Nombre(s) y Apellidos: jose
Ingresar DNI: 456
Ingresar Edad: 45
lugar donde nacio villa
Ingresar Domicilio: df
Ingresar Celular: 456
ingrese tipo de sangre ab

Gracias por llenar datos del paciente ..!!!

          REQUERIMIENTO                         RECOPILADO
0   Nombres y Apellidos                               jose
1                   DNI                                456
2                  edad                                 45
3  categoria segun edad                   Es mayor de edad
4   lugar de nacimiento                              villa
5             domicilio                                 df
6               celular                                456
7        tipo de sandre                                 ab
8           observación  su tipo de sangre no es tan comun